* {
  box-sizing: border-box;
}


body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}


.catalog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  margin: 0 auto;
  width: 1280px;
}

.header {
  font-size: 70px;
  text-align: center;
  color: #515076;
  font-weight: normal;
}

h2 {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

.first-product-image,
.second-product-image,
.third-product-image,
.fourth-product-image,
.fifth-product-image {
  margin: 25px 25px 30px 25px;
  display: block;
}

.product-description {
  padding-bottom: 15px;
  margin: 0;
}

.container-first-card {
  margin: 0;
  padding: 0;
  list-style-type: circle;
  padding-bottom: 25px;
}

.container-second-card {
  margin: 0;
  padding: 0;
  list-style-type: circle;
  padding-bottom: 25px;
}

.container-third-card {
  margin: 0;
  padding: 0;
  list-style-type: circle;
  padding-bottom: 25px;
}

.container-fourth-card {
  margin: 0;
  padding: 0;
  list-style-type: circle;
  padding-bottom: 25px;
}

.container-fifth-card {
  margin: 0;
  padding: 0;
  list-style-type: circle;
  padding-bottom: 25px;
}

.first-block {
  list-style-position: inside;
  width: 340px;
  background-color: #f7f7fa;

}

.second-block {
  list-style-position: inside;
  width: 340px;
  background-color: #f7f7fa;
}

.third-block {
  list-style-position: inside;
  width: 340px;
  background-color: #f7f7fa;
}

.fourth-block {
  list-style-position: inside;
  width: 340px;
  background-color: #f7f7fa;
}

.fifth-block {
  list-style-position: inside;
  width: 340px;
  background-color: #f7f7fa;
}

.change-color {
  color: #515076;
}

.purpose {
  color: #a5a3b9;
  font-size: 12px;
  margin: 0px;
  padding-bottom: 5px;
}

b {
  font-size: 20px;
  font-weight: bold;
}

.sum {
  font-size: 20px;
}


.button-repair-prices {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-right: 25px;
  font-size: 20px;
}

.text-counteiner {
  padding-left: 25px;

}